/*flex.css v1.02*/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.flex-5g, .flex-24g {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flexbox;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.flex-5g > .flex-1 {
  width: 20%; }

.flex-5g > .flex-2 {
  width: 40%; }

.flex-5g > .flex-3 {
  width: 60%; }

.flex-5g > .flex-4 {
  width: 80%; }

.flex-5g > .flex-5 {
  width: 100%; }

.flex-5g > .flex-off-1 {
  margin-left: 20%; }

.flex-5g > .flex-off-2 {
  margin-left: 40%; }

.flex-5g > .flex-off-3 {
  margin-left: 60%; }

.flex-5g > .flex-off-4 {
  margin-left: 80%; }

.flex-24g > .flex-1 {
  width: 4.1666666667%; }

.flex-24g > .flex-2 {
  width: 8.3333333333%; }

.flex-24g > .flex-3 {
  width: 12.5%; }

.flex-24g > .flex-4 {
  width: 16.6666666667%; }

.flex-24g > .flex-5 {
  width: 20.8333333333%; }

.flex-24g > .flex-6 {
  width: 25%; }

.flex-24g > .flex-7 {
  width: 29.1666666667%; }

.flex-24g > .flex-8 {
  width: 33.3333333333%; }

.flex-24g > .flex-9 {
  width: 37.5%; }

.flex-24g > .flex-10 {
  width: 41.6666666667%; }

.flex-24g > .flex-11 {
  width: 45.8333333333%; }

.flex-24g > .flex-12 {
  width: 50%; }

.flex-24g > .flex-13 {
  width: 54.1666666667%; }

.flex-24g > .flex-14 {
  width: 58.3333333333%; }

.flex-24g > .flex-15 {
  width: 62.5%; }

.flex-24g > .flex-16 {
  width: 66.6666666667%; }

.flex-24g > .flex-17 {
  width: 70.8333333333%; }

.flex-24g > .flex-18 {
  width: 75%; }

.flex-24g > .flex-19 {
  width: 79.1666666667%; }

.flex-24g > .flex-20 {
  width: 83.3333333333%; }

.flex-24g > .flex-21 {
  width: 87.5%; }

.flex-24g > .flex-22 {
  width: 91.6666666667%; }

.flex-24g > .flex-23 {
  width: 95.8333333333%; }

.flex-24g > .flex-24 {
  width: 100%; }

.flex-24g > .flex-off-1 {
  margin-left: 4.1666666667%; }

.flex-24g > .flex-off-2 {
  margin-left: 8.3333333333%; }

.flex-24g > .flex-off-3 {
  margin-left: 12.5%; }

.flex-24g > .flex-off-4 {
  margin-left: 16.6666666667%; }

.flex-24g > .flex-off-5 {
  margin-left: 20.8333333333%; }

.flex-24g > .flex-off-6 {
  margin-left: 25%; }

.flex-24g > .flex-off-7 {
  margin-left: 29.1666666667%; }

.flex-24g > .flex-off-8 {
  margin-left: 33.3333333333%; }

.flex-24g > .flex-off-9 {
  margin-left: 37.5%; }

.flex-24g > .flex-off-10 {
  margin-left: 41.6666666667%; }

.flex-24g > .flex-off-11 {
  margin-left: 45.8333333333%; }

.flex-24g > .flex-off-12 {
  margin-left: 50%; }

.flex-24g > .flex-off-13 {
  margin-left: 54.1666666667%; }

.flex-24g > .flex-off-14 {
  margin-left: 58.3333333333%; }

.flex-24g > .flex-off-15 {
  margin-left: 62.5%; }

.flex-24g > .flex-off-16 {
  margin-left: 66.6666666667%; }

.flex-24g > .flex-off-17 {
  margin-left: 70.8333333333%; }

.flex-24g > .flex-off-18 {
  margin-left: 75%; }

.flex-24g > .flex-off-19 {
  margin-left: 79.1666666667%; }

.flex-24g > .flex-off-20 {
  margin-left: 83.3333333333%; }

.flex-24g > .flex-off-21 {
  margin-left: 87.5%; }

.flex-24g > .flex-off-22 {
  margin-left: 91.6666666667%; }

.flex-24g > .flex-off-23 {
  margin-left: 95.8333333333%; }

.flex-1, .flex-2, .flex-3, .flex-4, .flex-5, .flex-6, .flex-7, .flex-8, .flex-9, .flex-10, .flex-11, .flex-12, .flex-13, .flex-14, .flex-15, .flex-16, .flex-17, .flex-18, .flex-19, .flex-20, .flex-21, .flex-22, .flex-23, .flex-24 {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top; }

svg.responsive, img.responsive {
  max-width: 100%; }

video {
  width: 100%	!important;
  height: auto	!important; }

.flex-vid {
  padding-bottom: 56.25%; }

.flex-vid-4x3 {
  padding-bottom: 75%; }

.flex-vid, .flex-vid-4x3 {
  position: relative;
  height: 0; }
  .flex-vid object, .flex-vid embed, .flex-vid iframe, .flex-vid-4x3 object, .flex-vid-4x3 embed, .flex-vid-4x3 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.hidden {
  display: none !important; }

@media (max-width: 74.9375em) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 35.5em) and (max-width: 47.9375em) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 48em) and (max-width: 61.9375em) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 62em) and (max-width: 74.9375em) {
  .hidden-lg {
    display: none !important; } }

@media (min-width: 35.5em) {
  .flex-5g > .flex-sm-1 {
    width: 20%; }
  .flex-5g > .flex-sm-2 {
    width: 40%; }
  .flex-5g > .flex-sm-3 {
    width: 60%; }
  .flex-5g > .flex-sm-4 {
    width: 80%; }
  .flex-5g > .flex-sm-5 {
    width: 100%; }
  .flex-5g > .flex-sm-off-1 {
    margin-left: 20%; }
  .flex-5g > .flex-sm-off-2 {
    margin-left: 40%; }
  .flex-5g > .flex-sm-off-3 {
    margin-left: 60%; }
  .flex-5g > .flex-sm-off-4 {
    margin-left: 80%; }
  .flex-24g > .flex-sm-1 {
    width: 4.1666666667%; }
  .flex-24g > .flex-sm-2 {
    width: 8.3333333333%; }
  .flex-24g > .flex-sm-3 {
    width: 12.5%; }
  .flex-24g > .flex-sm-4 {
    width: 16.6666666667%; }
  .flex-24g > .flex-sm-5 {
    width: 20.8333333333%; }
  .flex-24g > .flex-sm-6 {
    width: 25%; }
  .flex-24g > .flex-sm-7 {
    width: 29.1666666667%; }
  .flex-24g > .flex-sm-8 {
    width: 33.3333333333%; }
  .flex-24g > .flex-sm-9 {
    width: 37.5%; }
  .flex-24g > .flex-sm-10 {
    width: 41.6666666667%; }
  .flex-24g > .flex-sm-11 {
    width: 45.8333333333%; }
  .flex-24g > .flex-sm-12 {
    width: 50%; }
  .flex-24g > .flex-sm-13 {
    width: 54.1666666667%; }
  .flex-24g > .flex-sm-14 {
    width: 58.3333333333%; }
  .flex-24g > .flex-sm-15 {
    width: 62.5%; }
  .flex-24g > .flex-sm-16 {
    width: 66.6666666667%; }
  .flex-24g > .flex-sm-17 {
    width: 70.8333333333%; }
  .flex-24g > .flex-sm-18 {
    width: 75%; }
  .flex-24g > .flex-sm-19 {
    width: 79.1666666667%; }
  .flex-24g > .flex-sm-20 {
    width: 83.3333333333%; }
  .flex-24g > .flex-sm-21 {
    width: 87.5%; }
  .flex-24g > .flex-sm-22 {
    width: 91.6666666667%; }
  .flex-24g > .flex-sm-23 {
    width: 95.8333333333%; }
  .flex-24g > .flex-sm-24 {
    width: 100%; }
  .flex-24g > .flex-sm-off-1 {
    margin-left: 4.1666666667%; }
  .flex-24g > .flex-sm-off-2 {
    margin-left: 8.3333333333%; }
  .flex-24g > .flex-sm-off-3 {
    margin-left: 12.5%; }
  .flex-24g > .flex-sm-off-4 {
    margin-left: 16.6666666667%; }
  .flex-24g > .flex-sm-off-5 {
    margin-left: 20.8333333333%; }
  .flex-24g > .flex-sm-off-6 {
    margin-left: 25%; }
  .flex-24g > .flex-sm-off-7 {
    margin-left: 29.1666666667%; }
  .flex-24g > .flex-sm-off-8 {
    margin-left: 33.3333333333%; }
  .flex-24g > .flex-sm-off-9 {
    margin-left: 37.5%; }
  .flex-24g > .flex-sm-off-10 {
    margin-left: 41.6666666667%; }
  .flex-24g > .flex-sm-off-11 {
    margin-left: 45.8333333333%; }
  .flex-24g > .flex-sm-off-12 {
    margin-left: 50%; }
  .flex-24g > .flex-sm-off-13 {
    margin-left: 54.1666666667%; }
  .flex-24g > .flex-sm-off-14 {
    margin-left: 58.3333333333%; }
  .flex-24g > .flex-sm-off-15 {
    margin-left: 62.5%; }
  .flex-24g > .flex-sm-off-16 {
    margin-left: 66.6666666667%; }
  .flex-24g > .flex-sm-off-17 {
    margin-left: 70.8333333333%; }
  .flex-24g > .flex-sm-off-18 {
    margin-left: 75%; }
  .flex-24g > .flex-sm-off-19 {
    margin-left: 79.1666666667%; }
  .flex-24g > .flex-sm-off-20 {
    margin-left: 83.3333333333%; }
  .flex-24g > .flex-sm-off-21 {
    margin-left: 87.5%; }
  .flex-24g > .flex-sm-off-22 {
    margin-left: 91.6666666667%; }
  .flex-24g > .flex-sm-off-23 {
    margin-left: 95.8333333333%; } }

@media (min-width: 48em) {
  .flex-5g > .flex-md-1 {
    width: 20%; }
  .flex-5g > .flex-md-2 {
    width: 40%; }
  .flex-5g > .flex-md-3 {
    width: 60%; }
  .flex-5g > .flex-md-4 {
    width: 80%; }
  .flex-5g > .flex-md-5 {
    width: 100%; }
  .flex-5g > .flex-md-off-1 {
    margin-left: 20%; }
  .flex-5g > .flex-md-off-2 {
    margin-left: 40%; }
  .flex-5g > .flex-md-off-3 {
    margin-left: 60%; }
  .flex-5g > .flex-md-off-4 {
    margin-left: 80%; }
  .flex-24g > .flex-md-1 {
    width: 4.1666666667%; }
  .flex-24g > .flex-md-2 {
    width: 8.3333333333%; }
  .flex-24g > .flex-md-3 {
    width: 12.5%; }
  .flex-24g > .flex-md-4 {
    width: 16.6666666667%; }
  .flex-24g > .flex-md-5 {
    width: 20.8333333333%; }
  .flex-24g > .flex-md-6 {
    width: 25%; }
  .flex-24g > .flex-md-7 {
    width: 29.1666666667%; }
  .flex-24g > .flex-md-8 {
    width: 33.3333333333%; }
  .flex-24g > .flex-md-9 {
    width: 37.5%; }
  .flex-24g > .flex-md-10 {
    width: 41.6666666667%; }
  .flex-24g > .flex-md-11 {
    width: 45.8333333333%; }
  .flex-24g > .flex-md-12 {
    width: 50%; }
  .flex-24g > .flex-md-13 {
    width: 54.1666666667%; }
  .flex-24g > .flex-md-14 {
    width: 58.3333333333%; }
  .flex-24g > .flex-md-15 {
    width: 62.5%; }
  .flex-24g > .flex-md-16 {
    width: 66.6666666667%; }
  .flex-24g > .flex-md-17 {
    width: 70.8333333333%; }
  .flex-24g > .flex-md-18 {
    width: 75%; }
  .flex-24g > .flex-md-19 {
    width: 79.1666666667%; }
  .flex-24g > .flex-md-20 {
    width: 83.3333333333%; }
  .flex-24g > .flex-md-21 {
    width: 87.5%; }
  .flex-24g > .flex-md-22 {
    width: 91.6666666667%; }
  .flex-24g > .flex-md-23 {
    width: 95.8333333333%; }
  .flex-24g > .flex-md-24 {
    width: 100%; }
  .flex-24g > .flex-md-off-1 {
    margin-left: 4.1666666667%; }
  .flex-24g > .flex-md-off-2 {
    margin-left: 8.3333333333%; }
  .flex-24g > .flex-md-off-3 {
    margin-left: 12.5%; }
  .flex-24g > .flex-md-off-4 {
    margin-left: 16.6666666667%; }
  .flex-24g > .flex-md-off-5 {
    margin-left: 20.8333333333%; }
  .flex-24g > .flex-md-off-6 {
    margin-left: 25%; }
  .flex-24g > .flex-md-off-7 {
    margin-left: 29.1666666667%; }
  .flex-24g > .flex-md-off-8 {
    margin-left: 33.3333333333%; }
  .flex-24g > .flex-md-off-9 {
    margin-left: 37.5%; }
  .flex-24g > .flex-md-off-10 {
    margin-left: 41.6666666667%; }
  .flex-24g > .flex-md-off-11 {
    margin-left: 45.8333333333%; }
  .flex-24g > .flex-md-off-12 {
    margin-left: 50%; }
  .flex-24g > .flex-md-off-13 {
    margin-left: 54.1666666667%; }
  .flex-24g > .flex-md-off-14 {
    margin-left: 58.3333333333%; }
  .flex-24g > .flex-md-off-15 {
    margin-left: 62.5%; }
  .flex-24g > .flex-md-off-16 {
    margin-left: 66.6666666667%; }
  .flex-24g > .flex-md-off-17 {
    margin-left: 70.8333333333%; }
  .flex-24g > .flex-md-off-18 {
    margin-left: 75%; }
  .flex-24g > .flex-md-off-19 {
    margin-left: 79.1666666667%; }
  .flex-24g > .flex-md-off-20 {
    margin-left: 83.3333333333%; }
  .flex-24g > .flex-md-off-21 {
    margin-left: 87.5%; }
  .flex-24g > .flex-md-off-22 {
    margin-left: 91.6666666667%; }
  .flex-24g > .flex-md-off-23 {
    margin-left: 95.8333333333%; } }

@media (min-width: 62em) {
  .flex-5g > .flex-lg-1 {
    width: 20%; }
  .flex-5g > .flex-lg-2 {
    width: 40%; }
  .flex-5g > .flex-lg-3 {
    width: 60%; }
  .flex-5g > .flex-lg-4 {
    width: 80%; }
  .flex-5g > .flex-lg-5 {
    width: 100%; }
  .flex-5g > .flex-lg-off-1 {
    margin-left: 20%; }
  .flex-5g > .flex-lg-off-2 {
    margin-left: 40%; }
  .flex-5g > .flex-lg-off-3 {
    margin-left: 60%; }
  .flex-5g > .flex-lg-off-4 {
    margin-left: 80%; }
  .flex-24g > .flex-lg-1 {
    width: 4.1666666667%; }
  .flex-24g > .flex-lg-2 {
    width: 8.3333333333%; }
  .flex-24g > .flex-lg-3 {
    width: 12.5%; }
  .flex-24g > .flex-lg-4 {
    width: 16.6666666667%; }
  .flex-24g > .flex-lg-5 {
    width: 20.8333333333%; }
  .flex-24g > .flex-lg-6 {
    width: 25%; }
  .flex-24g > .flex-lg-7 {
    width: 29.1666666667%; }
  .flex-24g > .flex-lg-8 {
    width: 33.3333333333%; }
  .flex-24g > .flex-lg-9 {
    width: 37.5%; }
  .flex-24g > .flex-lg-10 {
    width: 41.6666666667%; }
  .flex-24g > .flex-lg-11 {
    width: 45.8333333333%; }
  .flex-24g > .flex-lg-12 {
    width: 50%; }
  .flex-24g > .flex-lg-13 {
    width: 54.1666666667%; }
  .flex-24g > .flex-lg-14 {
    width: 58.3333333333%; }
  .flex-24g > .flex-lg-15 {
    width: 62.5%; }
  .flex-24g > .flex-lg-16 {
    width: 66.6666666667%; }
  .flex-24g > .flex-lg-17 {
    width: 70.8333333333%; }
  .flex-24g > .flex-lg-18 {
    width: 75%; }
  .flex-24g > .flex-lg-19 {
    width: 79.1666666667%; }
  .flex-24g > .flex-lg-20 {
    width: 83.3333333333%; }
  .flex-24g > .flex-lg-21 {
    width: 87.5%; }
  .flex-24g > .flex-lg-22 {
    width: 91.6666666667%; }
  .flex-24g > .flex-lg-23 {
    width: 95.8333333333%; }
  .flex-24g > .flex-lg-24 {
    width: 100%; }
  .flex-24g > .flex-lg-off-1 {
    margin-left: 4.1666666667%; }
  .flex-24g > .flex-lg-off-2 {
    margin-left: 8.3333333333%; }
  .flex-24g > .flex-lg-off-3 {
    margin-left: 12.5%; }
  .flex-24g > .flex-lg-off-4 {
    margin-left: 16.6666666667%; }
  .flex-24g > .flex-lg-off-5 {
    margin-left: 20.8333333333%; }
  .flex-24g > .flex-lg-off-6 {
    margin-left: 25%; }
  .flex-24g > .flex-lg-off-7 {
    margin-left: 29.1666666667%; }
  .flex-24g > .flex-lg-off-8 {
    margin-left: 33.3333333333%; }
  .flex-24g > .flex-lg-off-9 {
    margin-left: 37.5%; }
  .flex-24g > .flex-lg-off-10 {
    margin-left: 41.6666666667%; }
  .flex-24g > .flex-lg-off-11 {
    margin-left: 45.8333333333%; }
  .flex-24g > .flex-lg-off-12 {
    margin-left: 50%; }
  .flex-24g > .flex-lg-off-13 {
    margin-left: 54.1666666667%; }
  .flex-24g > .flex-lg-off-14 {
    margin-left: 58.3333333333%; }
  .flex-24g > .flex-lg-off-15 {
    margin-left: 62.5%; }
  .flex-24g > .flex-lg-off-16 {
    margin-left: 66.6666666667%; }
  .flex-24g > .flex-lg-off-17 {
    margin-left: 70.8333333333%; }
  .flex-24g > .flex-lg-off-18 {
    margin-left: 75%; }
  .flex-24g > .flex-lg-off-19 {
    margin-left: 79.1666666667%; }
  .flex-24g > .flex-lg-off-20 {
    margin-left: 83.3333333333%; }
  .flex-24g > .flex-lg-off-21 {
    margin-left: 87.5%; }
  .flex-24g > .flex-lg-off-22 {
    margin-left: 91.6666666667%; }
  .flex-24g > .flex-lg-off-23 {
    margin-left: 95.8333333333%; } }

@media (min-width: 75em) {
  .flex-5g > .flex-xl-1 {
    width: 20%; }
  .flex-5g > .flex-xl-2 {
    width: 40%; }
  .flex-5g > .flex-xl-3 {
    width: 60%; }
  .flex-5g > .flex-xl-4 {
    width: 80%; }
  .flex-5g > .flex-xl-5 {
    width: 100%; }
  .flex-5g > .flex-xl-off-1 {
    margin-left: 20%; }
  .flex-5g > .flex-xl-off-2 {
    margin-left: 40%; }
  .flex-5g > .flex-xl-off-3 {
    margin-left: 60%; }
  .flex-5g > .flex-xl-off-4 {
    margin-left: 80%; }
  .flex-24g > .flex-xl-1 {
    width: 4.1666666667%; }
  .flex-24g > .flex-xl-2 {
    width: 8.3333333333%; }
  .flex-24g > .flex-xl-3 {
    width: 12.5%; }
  .flex-24g > .flex-xl-4 {
    width: 16.6666666667%; }
  .flex-24g > .flex-xl-5 {
    width: 20.8333333333%; }
  .flex-24g > .flex-xl-6 {
    width: 25%; }
  .flex-24g > .flex-xl-7 {
    width: 29.1666666667%; }
  .flex-24g > .flex-xl-8 {
    width: 33.3333333333%; }
  .flex-24g > .flex-xl-9 {
    width: 37.5%; }
  .flex-24g > .flex-xl-10 {
    width: 41.6666666667%; }
  .flex-24g > .flex-xl-11 {
    width: 45.8333333333%; }
  .flex-24g > .flex-xl-12 {
    width: 50%; }
  .flex-24g > .flex-xl-13 {
    width: 54.1666666667%; }
  .flex-24g > .flex-xl-14 {
    width: 58.3333333333%; }
  .flex-24g > .flex-xl-15 {
    width: 62.5%; }
  .flex-24g > .flex-xl-16 {
    width: 66.6666666667%; }
  .flex-24g > .flex-xl-17 {
    width: 70.8333333333%; }
  .flex-24g > .flex-xl-18 {
    width: 75%; }
  .flex-24g > .flex-xl-19 {
    width: 79.1666666667%; }
  .flex-24g > .flex-xl-20 {
    width: 83.3333333333%; }
  .flex-24g > .flex-xl-21 {
    width: 87.5%; }
  .flex-24g > .flex-xl-22 {
    width: 91.6666666667%; }
  .flex-24g > .flex-xl-23 {
    width: 95.8333333333%; }
  .flex-24g > .flex-xl-24 {
    width: 100%; }
  .flex-24g > .flex-xl-off-1 {
    margin-left: 4.1666666667%; }
  .flex-24g > .flex-xl-off-2 {
    margin-left: 8.3333333333%; }
  .flex-24g > .flex-xl-off-3 {
    margin-left: 12.5%; }
  .flex-24g > .flex-xl-off-4 {
    margin-left: 16.6666666667%; }
  .flex-24g > .flex-xl-off-5 {
    margin-left: 20.8333333333%; }
  .flex-24g > .flex-xl-off-6 {
    margin-left: 25%; }
  .flex-24g > .flex-xl-off-7 {
    margin-left: 29.1666666667%; }
  .flex-24g > .flex-xl-off-8 {
    margin-left: 33.3333333333%; }
  .flex-24g > .flex-xl-off-9 {
    margin-left: 37.5%; }
  .flex-24g > .flex-xl-off-10 {
    margin-left: 41.6666666667%; }
  .flex-24g > .flex-xl-off-11 {
    margin-left: 45.8333333333%; }
  .flex-24g > .flex-xl-off-12 {
    margin-left: 50%; }
  .flex-24g > .flex-xl-off-13 {
    margin-left: 54.1666666667%; }
  .flex-24g > .flex-xl-off-14 {
    margin-left: 58.3333333333%; }
  .flex-24g > .flex-xl-off-15 {
    margin-left: 62.5%; }
  .flex-24g > .flex-xl-off-16 {
    margin-left: 66.6666666667%; }
  .flex-24g > .flex-xl-off-17 {
    margin-left: 70.8333333333%; }
  .flex-24g > .flex-xl-off-18 {
    margin-left: 75%; }
  .flex-24g > .flex-xl-off-19 {
    margin-left: 79.1666666667%; }
  .flex-24g > .flex-xl-off-20 {
    margin-left: 83.3333333333%; }
  .flex-24g > .flex-xl-off-21 {
    margin-left: 87.5%; }
  .flex-24g > .flex-xl-off-22 {
    margin-left: 91.6666666667%; }
  .flex-24g > .flex-xl-off-23 {
    margin-left: 95.8333333333%; }
  .hidden-xl {
    display: none !important; } }
